<div class="row no-margin">
  <div class="col no-padding bg-lightGray">
    <div class="row no-margin">
      <div class="col-12 no-padding text-center">
        <h2>Morning</h2>
      </div>
      <div class="col-12 no-padding text-center">
        <h6>10:00 am to 12:00 pm</h6>
      </div>
    </div>
  </div>
  <div class="col no-padding bg-mediumGray">
    <div class="row no-margin">
      <div class="col-12 no-padding text-center">
        <h2>Afternoon</h2>
      </div>
      <div class="col-12 no-padding text-center">
        <h6>02:00 pm to 04:00 pm</h6>
      </div>
    </div>
  </div>
  <div class="col no-padding bg-darkGray">
    <div class="row no-margin">
      <div class="col-12 no-padding text-center">
        <h2>Evening</h2>
      </div>
      <div class="col-12 no-padding text-center">
        <h6>06:00 pm to 09:00 pm</h6>
      </div>
    </div>
  </div>
</div>