<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Advik Clinic</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header [pageTitle]="pageTitle"></app-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <div class="row ">
        <div class="col-4 no-padding text-center">
          <div class="profilepic borderBlack">
          </div>
        </div>
        <div class="col-8">
          <div class="row no-margin">
            <div class="col-12 no-padding">
              <h6 class="text-bold">Advik Surgical Clinic</h6>
              <h6 class="doctor-edu">Clild Specialist</h6>
              <h6>Stb 2010 (10yrs in Service)</h6>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row even-margin-10">
        <div class="col-12 clinic-Address">
          <p class="block-with-text"> 104, sawanaha Society, Pune 104, sawanaha Society, Pune 104, sawanaha Society,
            Pune</p>
        </div>
      </div>
      <app-hospital-time></app-hospital-time>
      <div class="row even-margin-10">
        <div class="col-12 text-center">
          <ion-button shape="round" (click)="bookAppointment('/book-appointment')">
            <ion-icon name="home"></ion-icon> Book Appointment
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <div class="row ">
        <div class="col-12 clinic-Address">
          <h2>Doctor's List in hospital</h2>
        </div>
        <div class="col-12 no-padding text-center doctors-list">
          <div class="doctor-profile">
            <div class="profilepic borderBlack">
            </div>
            <div class="doctor-name">
              <h6>Dr. Advik Narnaware</h6>
              <h6 class="doctor-edu">MBBS</h6>
              <h6 class="doctor-edu">Clild Specialities</h6>
            </div>
          </div>
          <div class="doctor-profile">
            <div class="profilepic borderBlack">
            </div>
            <div class="doctor-name">
              <h6>Dr. Advik Narnaware</h6>
              <h6 class="doctor-edu">MBBS</h6>
              <h6 class="doctor-edu">Clild Specialities</h6>
            </div>
          </div>
          <div class="doctor-profile">
            <div class="profilepic borderBlack">
            </div>
            <div class="doctor-name">
              <h6>Dr. Advik Narnaware</h6>
              <h6 class="doctor-edu">MBBS</h6>
              <h6 class="doctor-edu">Clild Specialities</h6>
            </div>
          </div>
          <div class="doctor-profile">
            <div class="profilepic borderBlack">
            </div>
            <div class="doctor-name">
              <h6>Dr. Advik Narnaware</h6>
              <h6 class="doctor-edu">MBBS</h6>
              <h6 class="doctor-edu">Clild Specialities</h6>
            </div>
          </div>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</ion-content>