<ion-header>
  <ion-toolbar>
    <ion-title>Details about Dr. Advik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <div class="row ">
        <div class="col-4 no-padding text-center">
          <div class="profilepic borderBlack">
          </div>
        </div>
        <div class="col-8">
          <div class="row no-margin">
            <div class="col-12 no-padding">
              <h6 class="text-bold">Dr. Advik Narnaware</h6>
              <h6 class="doctor-edu">MBBS</h6>
              <h6 class="color-red">Alypathik</h6>
              <h6>Exp - 5 Yrs</h6>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 clinic-Address">
          <p class="block-with-text"> 104, sawanaha Society, Pune 104, sawanaha Society, Pune 104, sawanaha Society,
            Pune</p>
        </div>
        <div class="col-12 even-margin-5">
          <p class="no-padding doctor-edu">Morning : 10:00 am to 12:00 pm</p>
          <p class="no-padding doctor-edu">Afternoon : 02:00 pm to 04:00 pm</p>
          <p class="no-padding doctor-edu">Evening : 06:00 pm to 09:00 pm</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <div class="row ">
            <div class="col-12 clinic-Address">
                <p class="block-with-text"> 104, sawanaha Society, Pune 104, sawanaha Society, Pune 104, sawanaha Society,
                  Pune</p>
              </div>
          </div>
          </ion-card-content>
          </ion-card>
</ion-content>