<ion-header>
  <ion-toolbar>
    <ion-title>hospital-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-card>
    <ion-card-content>
      <div class="row">
        <div class="col-12">
          <app-hospital-slider></app-hospital-slider>
        </div>
        <div class="col-12">
          <div class="row no-margin">
            <div class="col-8 no-padding">
              <h6 class="text-bold">Advik Clinic</h6>
            </div>
            <div class="col-4 no-padding">
              <span class="float-right">| Exp - 5 Yrs</span>
            </div>
          </div>
          <div class="row even-margin-5">
            <div class="col-8 no-padding clinic-Address">
              <p class="block-with-text"> 104, sawanaha Society, Pune 104, sawanaha Society, Pune 104, sawanaha Society,
                Pune</p>
            </div>
            <div class="col-4 no-padding">
              <p class=" float-right">
                <ion-icon name="pin"></ion-icon> 5 KM
              </p>
            </div>
          </div>
          <hr />
          <div class="row no-margin">
              <app-hospital-time></app-hospital-time>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>