<ion-header>
  <ion-toolbar>
    <ion-title>hospital-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-card>

        <ion-card-content>
          <div class="row bottom-border">
            <div class="col-4 no-padding text-center">
              <div class="profilepic borderBlack">
    
              </div>
              <div class="doctor-name">
                <h6>Dr. Advik Narnaware</h6>
                <h6 class="doctor-edu">MBBS</h6>
              </div>
            </div>
            <div class="col-8">
              <div class="row no-margin">
                <div class="col-6 no-padding">
                  <span class="color-red">Alypathik</span>
    
                </div>
                <div class="col-6 no-padding">
                  <span class="float-right">| Exp - 5 Yrs</span>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-12 no-padding">
                  <h6 class="text-bold">Dr. Advik Narnaware</h6>
                </div>
              </div>
              <!-- <p class="borderRed"><span class="color-red">Alypathik</span>
                <span class="float-right">| Exp - 5 Yrs</span></p>
              <h6 class="text-bold">Dr. Advik Narnaware</h6> -->
    
              <div class="row even-margin-5">
                <div class="col-8 no-padding clinic-Address">
                  <p class="block-with-text"> 104, sawanaha Society, Pune 104, sawanaha Society, Pune 104, sawanaha Society,
                    Pune</p>
                </div>
                <div class="col-4 no-padding">
                  <p class=" float-right">
                    <ion-icon name="pin"></ion-icon> 5 KM
                  </p>
                </div>
              </div>
              <div class="row no-margin">
                <div class="col-12 no-padding">
                  <p class="no-padding doctor-edu">Morning : 10:00 am to 12:00 pm</p>
                  <p class="no-padding doctor-edu">Afternoon : 02:00 pm to 04:00 pm</p>
                  <p class="no-padding doctor-edu">Evening : 06:00 pm to 09:00 pm</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row borderRed">
            <div class="col-4 borderBlack">
              <span>ABCD</span>
              <h6 class="color-red">0</h6>
            </div>
            <div class="col-4 borderRed">
    
            </div>
            <div class="col-4 borderBlack">
    
            </div>
            <div class="col-4 borderRed">
    
            </div>
    
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
