// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.no-padding{padding: 0px !important;}
.text-center{text-align: center;}
.float-right{float: right;}
.text-bold{font-weight: bold !important;}
.color-red{color: red;}
.no-margin{margin: 0px !important;}
.bottom-border{border-bottom: 1px solid #e9e6e6;padding-bottom: 10px;}
    .even-margin-10{margin: 10px 0 !important}
    .even-margin-5{margin: 5px 0 !important}