<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-searchbar showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar> -->
  <!-- <ion-card class="welcome-card">
  </ion-card> -->
  <ion-card>
    <ion-item>
      <ion-icon name="pin"></ion-icon>
      <ion-select value="maharashtra" okText="Select" cancelText="Cancel" class="selector">
        <ion-select-option value="maharashtra" class="option">Maharashtra</ion-select-option>
        <ion-select-option value="madhya pradesh" class="option">Madhya Pradesh</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-card-content>
      <div class="row">
        <div class="col-4 city_pane">
          <div class="city-logo">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Nagpur</h5>
          </div>
        </div>
        <div class="col-4 city_pane">
          <div class="city-logo select">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Bhandara</h5>
          </div>
        </div>
        <div class="col-4 city_pane">
          <div class="city-logo">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Nagpur</h5>
          </div>
        </div>
        <div class="col-4 city_pane">
          <div class="city-logo">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Nagpur</h5>
          </div>
        </div>
        <div class="col-4 city_pane">
          <div class="city-logo">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Bhandara</h5>
          </div>
        </div>
        <div class="col-4 city_pane">
          <div class="city-logo">
            <ion-icon name="pin"></ion-icon>
          </div>
          <div class="city-name">
            <h5 class="mt-0 mb-1">Nagpur</h5>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-item>
          <ion-icon name="pin"></ion-icon>
         <h6>Book Appointment</h6>
         </ion-item>
    <ion-card-content>
      <div class="row">
        <div class="col-4 schedule_pane today">
            <h5 class="mt-0 mb-1">Today</h5>
            <h4 class="mt-0 mb-1">15 May</h4>
            <h5 class="mt-0 mb-1">Wed 2019</h5>
        </div>
        <div class="col-4 schedule_pane">
            <h5 class="mt-0 mb-1">Tomorrow</h5>
            <h4 class="mt-0 mb-1">15 May</h4>
            <h5 class="mt-0 mb-1">Wed 2019</h5>
        </div>
        <div class="col-4 schedule_pane">
            <h4 class="mt-0 mb-1"> <ion-icon name="pin"></ion-icon></h4>
            <h5 class="mt-0 mb-1"> Select Date</h5>
        </div>
        <div class="col-12 schedule_pane">
            <button type="button" class="btn btn-secondary">Search</button>
        </div> 

      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
</ion-content>